
@{
    ViewBag.Title = "AdminPanel";
}
@using System.Web.Optimization

@model eUseControl.Web.Models.UserData

<div class="admin-form">
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { @id = "PostsForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group row">
            @Html.LabelFor(m => m.Title, new { @class = "col-sm-4 col-form-label" })
            @Html.TextBoxFor(m => m.Title, new
       {
           placeholder = "",
           title = "Please enter post Title",
           value = "",
           name = "title",
           id = "title",
           @class = "form-control"
       })
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Text, new { @class = "col-sm-4 col-form-label" })
            @Html.TextBoxFor(m => m.Text, new
       {
           placeholder = "",
           title = "Please enter post Text",
           value = "",
           name = "text",
           id = "text",
           @class = "form-control"
       })
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Image, new { @class = "col-sm-4 col-form-label" })
            @Html.TextBoxFor(m => m.Image, new
       {
           placeholder = "",
           title = "Please enter post Image",
           value = "",
           name = "image",
           id = "image",
           @class = "form-control"
       })
        </div>
        <div class="admin-btn-wrapper">
            <button class="btn btn-primary" value="submit" type="submit">Submit</button>
        </div>
    }
</div>
<script src="https://kit.fontawesome.com/ce8d884e76.js" crossorigin="anonymous"></script>


